/* PATH: 'src/components/Styles/ProductPage.css' */

.pp-user-wishlist-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.pp-wishlist-form-container {
    margin-bottom: 20px;
}

.pp-product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.pp-product-card {
    height: 70%;
    width: 70%;
    background-color: #074a07;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 4px black;
}

.pp-product-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.pp-product-card p {
    color: black;
}

.pp-view-all-products-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pp-view-all-products-button:hover {
    background-color: #45a049;
}