 /* PATH: 'src/components/styles/UserDashboard.css' */

.ud-hot-trending {
  font-size: larger;
}

 .ud-product-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .ud-pageTitle {
    
  }

  .ud-product-card {
    width: 200px; 
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    background-color: #074a07; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .ud-product-image {
    width: 100%;
    height: 65%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .ud-product-info {
    color: whitesmoke;
    padding: 2px;
  }
  
  .ud-product-info h3 {
    color: whitesmoke;
    font-size: 16px; 
    margin-bottom: 6px; 
  }
  
  .ud-product-info p {
    color: whitesmoke;
    font-size: 14px; 
    margin: 0; 
  }

  .ud-search-icon {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 40px;
    width: auto;
    cursor: pointer;
  }

  .ud-shopping-cart-icon {
    position: relative;
    cursor: pointer;
    padding: 10px;
  }
  .ud-cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: whitesmoke;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }

  .ud-searchAndCart {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    width: auto;
  }


  .ud-header-container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    background-color: #074a07; 
    margin: 0px;
    padding: 10px;
  }

  .ud-headerNav {
    background-color: #074a07; 
    color: whitesmoke;
  }

  .ud-navList {
    color: whitesmoke;
    background-color: #074a07; 

  }

  .ud-navItem {
color: whitesmoke;
background-color: #074a07; 

  }
